
/*----- calendar -----*/
.calendar{
	display: inline-block;
	padding: 0.5rem;
	cursor: default;
	min-width: 308px;
}

.calendar table{
	border-spacing: 0;
}

.calendar th{
	text-align: center;
	width: 3rem;
	font-weight: normal;
	padding: 0.5rem;
}

.calendar td{
	text-align: center;
}

.current-date{
	border: 1px solid lightgray;
}

.selected-start-date{
	background-color: lightblue;
}

.selected-end-date{
	background-color: lightcyan;
}

.included-date{
	background-color: lightcoral;
}

.month-title{
	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 0.9rem;
	border-bottom: 1px solid aliceblue;
	padding-bottom: 2px;
}

.month-title span {
	margin: 0 3px;
}

/*
.available-cell{
	.font-weight: bold;
}
*/

